.notify {
    color: rgb(94, 124, 93);
    text-align: center;
    margin: 0 auto;
    background: #222436;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    display: none;
}
.warning-section{
    width: 35%;
    margin: 0 auto;
}
.savenotify {
    color: rgb(94, 124, 93);
    text-align: center;
    margin: 0 auto;
    background: #222436;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    display: none;
}
.savewarning-section{
    width: 35%;
    margin: 0 auto;
}
